* {
  padding: 0;
  margin: 0;
  background-color: whitesmoke;
}

canvas {
  background: black;
  border: solid 1px white;
  display: block;
  margin: 0 auto;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

button {
  background: #005800;
  border-bottom: 6px inset rgba(0, 0, 0, 0.5);
  border-left: 6px inset rgba(0, 0, 0, 0.5);
  border-right: 6px inset rgba(255, 255, 255, 0.5);
  border-top: 6px inset rgba(255, 255, 255, 0.5);
  box-sizing: border-box;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-size: 2.2rem;
  margin: 1rem;
  min-width: 200px;
  padding: 0.5rem;
  text-transform: uppercase;
  width: auto;
}

button:hover {
  background: #006800;
}

button:active {
  background: #004800;
  border-bottom: 6px inset rgba(255, 255, 255, 0.5);
  border-left: 6px inset rgba(255, 255, 255, 0.5);
  border-right: 6px inset rgba(0, 0, 0, 1);
  border-top: 6px inset rgba(0, 0, 0, 1);
}

button:disabled {
  background: grey;
}

button:disabled:active {
  border-bottom: 6px inset rgba(0, 0, 0, 0.5);
  border-left: 6px inset rgba(0, 0, 0, 0.5);
  border-right: 6px inset rgba(255, 255, 255, 0.5);
  border-top: 6px inset rgba(255, 255, 255, 0.5);
}